################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LCGDServer/obj
/APP/netcoreapp3.1
/.vs
/LCGDAPP/obj
/LCGDServer/bin/Release/netcoreapp3.1
